<div class="container mb-5">
  <form action="">
  <h1 class="h2 bg-primary p-2 text-center text-light m-0">Apertura de Cuenta Persona Juridica</h1>
    <fieldset name="GeneralInformation">
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Datos Generales Completar todos los campos de este formulario, de no
        aplicar colocar N/A
      </legend>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="NameOfCompany" class="form-label"
            >Razón Social (Nombre de la persona jurídica):</label
          >
          <input
            type="text"
            class="form-control"
            id="NameOfCompany"
            name="NameOfCompany"
          />
        </div>

        <div class="col-md-4">
          <label for="Country" class="form-label"
            >Lugar de Constitución (País):</label
          >
          <input type="text" class="form-control" id="Country" name="Country" />
        </div>

        <div class="col-md-4">
          <label for="Website" class="form-label">Pagina Web:</label>
          <input type="text" class="form-control" id="Website" name="Website" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label for="PublicDeedNumber" class="form-label"
            >No. de Escritura Pública:</label
          >
          <input
            type="text"
            class="form-control"
            id="PublicDeedNumber"
            name="PublicDeedNumber"
          />
        </div>

        <div class="col-md-4">
          <label for="DateOfPublicDeed" class="form-label"
            >Fecha de Escritura Pública:</label
          >
          <input
            type="date"
            class="form-control"
            id="DateOfPublicDeed"
            name="DateOfPublicDeed"
          />
        </div>

        <div class="col-md-4">
          <label for="DateOfIncorporation" class="form-label"
            >Fecha de Constitución:</label
          >
          <input
            type="date"
            class="form-control"
            id="DateOfIncorporation"
            name="DateOfIncorporation"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label for="RollOrVolume" class="form-label">Rollo / Tomo:</label>
          <input
            type="text"
            class="form-control"
            id="RollOrVolume"
            name="RollOrVolume"
          />
        </div>

        <div class="col-md-4">
          <label for="Document" class="form-label">Documento:</label>
          <input
            type="text"
            class="form-control"
            id="Document"
            name="Document"
          />
        </div>

        <div class="col-md-4">
          <label for="File" class="form-label">Ficha / Folio:</label>
          <input type="text" class="form-control" id="File" name="File" />
        </div>
      </div>

      <div class="mb-3">
        <label for="Adress" class="form-label"
          >Domicilio (Detalle exacto de su ubicación fisica):</label
        >
        <input type="text" class="form-control" id="Adress" name="Adress" />
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de Entidad:</label>
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="Corporation"
                name="Corporation"
              />
              <label class="form-check-label" for="Corporation"
                >Corporación</label
              >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="Foundation"
                name="Foundation"
              />
              <label class="form-check-label" for="Foundation">Fundación</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="Escrow"
                name="Escrow"
              />
              <label class="form-check-label" for="Escrow">Fideicomiso</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3">
          <label for="PostalAddress" class="form-label"
            >Dirección postal:</label
          >
          <input
            type="text"
            class="form-control"
            id="PostalAddress"
            name="PostalAddress"
          />
        </div>

        <div class="col-md-3">
          <label for="OfficeTelephone" class="form-label"
            >Teléfono de Oficina:</label
          >
          <input
            type="text"
            class="form-control"
            id="OfficeTelephone"
            name="OfficeTelephone"
          />
        </div>

        <div class="col-md-3">
          <label for="Fax" class="form-label">Fax:</label>
          <input type="tel" class="form-control" id="Fax" name="Fax" />
        </div>

        <div class="col-md-3">
          <label for="OtherAccess" class="form-label">Otro:</label>
          <input
            type="text"
            class="form-control"
            id="OtherAccess"
            name="OtherAccess"
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-check-label">Empresa con presencia Fiscal:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="Company-with-Fiscal-presence-Yes"
            name="Company-with-Fiscal-presence-Yes"
          />
          <label class="form-check-label" for="Company-with-Fiscal-presence-Yes"
            >Si</label
          >
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="Company-with-Fiscal-presence-No"
            name="Company-with-Fiscal-presence-No"
          />
          <label class="form-check-label" for="Company-with-Fiscal-presence-No"
            >No Operativa (en caso de no ser operativa la información la
            sustentarán el o los beneficiarios finales).</label
          >
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de cuenta:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="Discrecional"
            name="Discrecional"
          />
          <label class="form-check-label" for="Discrecional"
            >Discrecional</label
          >
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="NoDiscrecional"
            name="NoDiscrecional"
          />
          <label class="form-check-label" for="NoDiscrecional"
            >No Discrecional</label
          >
        </div>
      </div>
    </fieldset>
    <!--Style added-->

    <fieldset name="EconomicBeneficiaryofPersonalorNaturalAccount">
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Beneficiario(s) económico(s) de Cuenta Persona(s) o Natural(es)
      </legend>

      <div class="row mb-3">
        <div class="col-md-3">
          <label for="Name1" class="form-label">Nombre(s):</label>
          <br />
          <input type="text" class="form-control" id="Name1" name="Name1" />
          <br />
          <input type="text" class="form-control" id="Name2" name="Name2" />
          <br />
          <input type="text" class="form-control" id="Name3" name="Name3" />
        </div>

        <div class="col-md-3">
          <label for="Surname1" class="form-label">Apellido(s):</label>
          <br />
          <input
            type="text"
            class="form-control"
            id="Surname1"
            name="Surname1"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="Surname2"
            name="Surname2"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="Surname3"
            name="Surname3"
          />
        </div>

        <div class="col-md-3">
          <label for="DocumentNo1" class="form-label"
            >No. de Documento (ID):</label
          >
          <br />
          <input
            type="text"
            class="form-control"
            id="DocumentNo1"
            name="DocumentNo1"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="DocumentNo2"
            name="DocumentNo2"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="DocumentNo3"
            name="DocumentNo3"
          />
        </div>

        <div class="col-md-3">
          <label for="Residenci1" class="form-label"
            >País de Residencia Fiscal:</label
          >
          <br />
          <input
            type="text"
            class="form-control"
            id="Residenci1"
            name="CountryOfTax1"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="Residencia2"
            name="CountryOfTax2"
          />
          <br />
          <input
            type="text"
            class="form-control"
            id="Residencia3"
            name="CountryOfTax3"
          />
        </div>
      </div>
    </fieldset>

    <fieldset name="SourceofFunds">
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Origen de Fondos
      </legend>

      <!-- First Set of Fields -->
      <div class="mb-3">
        <label class="form-label"
          >Jurisdicciones principales de donde recibe/envía:</label
        >

        <div class="row mb-3 align-items-center">
          <div class="col-md-1">
            <p class="d-inline">1.</p>
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control d-inline-block"
              id="income1"
              name="income1"
            />
          </div>
          <div class="col-md-2">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="ReceiveYourCash1"
              />
              <label class="form-check-label">Recibe su Efectivo</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="SendYourCash1"
              />
              <label class="form-check-label">Envía su Efectivo</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="ReceiveYourTitles1"
              />
              <label class="form-check-label">Recibe sus Títulos</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="SubmitYourTitles1"
              />
              <label class="form-check-label">Envía sus Títulos</label>
            </div>
          </div>
        </div>

        <!-- Second Set of Fields -->
        <div class="row mb-3 align-items-center">
          <div class="col-md-1">
            <p class="d-inline">2.</p>
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control"
              id="income2"
              name="income2"
            />
          </div>
          <div class="col-md-2">
            <input
              type="checkbox"
              class="form-check-input"
              name="ReceiveYourCash2"
            />
            <span class="form-check-label">Recibe su Efectivo</span>
          </div>
          <div class="col-md-2">
            <input
              type="checkbox"
              class="form-check-input"
              name="SendYourCash2"
            />
            <span class="form-check-label">Envía su Efectivo</span>
          </div>
          <div class="col-md-2">
            <input
              type="checkbox"
              class="form-check-input"
              name="ReceiveYourTitles2"
            />
            <span class="form-check-label">Recibe sus Títulos</span>
          </div>
          <div class="col-md-2">
            <input
              type="checkbox"
              class="form-check-input"
              name="SubmitYourTitles2"
            />
            <span class="form-check-label">Envía sus Títulos</span>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset name="SourceOfResourcesOrHeritage">
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Fuente de los Recursos o Patrimonio
      </legend>

      <div class="mb-3">
        <label class="form-label">Nombre del Empleador / Independiente:</label>
        <input type="text" class="form-control" name="NameOfEmployer" />
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Ingreso Anual: (USD):</label>
          <input type="number" class="form-control" name="IncomeUsd" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Salario Anual: (USD):</label>
          <input type="number" class="form-control" name="SalaryUsd" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Años en la Empresa:</label>
          <input type="number" class="form-control" name="YearsInTheCompany" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Actividad:</label>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="Professional"
            />
            <label class="form-check-label">Honorarios Profesionales</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="OwnBusiness"
            />
            <label class="form-check-label">Negocio Propio</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="Saving" />
            <label class="form-check-label">Ahorro</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="Pension" />
            <label class="form-check-label">Pensión</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="Salary" />
            <label class="form-check-label">Salario</label>
          </div>
        </div>
        <div class="col-md">
          <label class="form-label">Dividendos de Inversión:</label>
          <input type="text" class="form-control" name="InvestmentDividents" />
        </div>
        <div class="col-md">
          <label class="form-label">Otros:</label>
          <input type="text" class="form-control" name="OtherIncome" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4"></div>
      </div>

      <p><b>Referencia Bancaria</b></p>

      <div class="row mb-2">
        <div class="col-md-3">
          <label class="form-label">Nombre de la Institución:</label>
          <br />
          <input
            type="text"
            class="form-control"
            name="NameOfTheInstitution1"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="NameOfTheInstitution2"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="NameOfTheInstitution3"
          />
        </div>
        <div class="col-md-3">
          <label class="form-label">País:</label>
          <br />
          <input type="text" class="form-control" name="countryBank1" />
          <br />
          <input type="text" class="form-control" name="countryBank2" />
          <br />
          <input type="text" class="form-control" name="countryBank3" />
        </div>
        <div class="col-md-3">
          <label class="form-label">Persona Contacto:</label>
          <br />
          <input type="text" class="form-control" name="ContactPerson1" />
          <br />
          <input type="text" class="form-control" name="ContactPerson2" />
          <br />
          <input type="text" class="form-control" name="ContactPerson3" />
        </div>

        <div class="col-md-3">
          <label class="form-label">Teléfono:</label>
          <br />
          <input type="tel" class="form-control" name="telephone1" />
          <br />
          <input type="tel" class="form-control" name="telephone2" />
          <br />
          <input type="tel" class="form-control" name="telephone3" />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Depósito Inicial
      </legend>

      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label"
            >Usted estará depositando o transfiriendo:</label
          >
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="depositCash"
            />
            <label class="form-check-label">Efectivo</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="depositSecurities"
            />
            <label class="form-check-label">Títulos Valores</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="depositBoth"
            />
            <label class="form-check-label">Ambos</label>
          </div>
        </div>
        <div class="col-md">
          <label class="form-label">Indique el Monto (USD):</label>
          <div class="mb-3">
            <label class="form-label">Efectivo:</label>
            <input type="text" class="form-control" name="depositedCash" />
          </div>
          <div class="mb-3">
            <label class="form-label">Títulos Valores:</label>
            <input
              type="text"
              class="form-control"
              name="depositedSecurities"
            />
          </div>
        </div>

        <div class="row mb-3"></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label"
            >Institución de donde Provienen los Fondos:</label
          >
        </div>
        <div class="col-md-4">
          <label class="form-label"
            >Tiempo de Relación con la Institución:</label
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-1">1.</div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            name="InstitutionFromWhichTheFundsCome1"
          />
        </div>
        <div class="col-md-2 align-self-center justify-content-center">
          <input type="checkbox" class="form-check-input" name="cash1" />
          <label class="form-check-label">Efectivo</label>
          <input type="checkbox" class="form-check-input" name="cash2" />
          <label class="form-check-label">Títulos</label>
        </div>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="RelationshipTimeWithTheInstitution1"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-1">2.</div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            name="InstitutionFromWhichTheFundsCome2"
          />
        </div>
        <div class="col-md-2 align-self-center justify-content-center">
          <input type="checkbox" class="form-check-input" name="cash3" />
          <label class="form-check-label">Efectivo</label>
          <input type="checkbox" class="form-check-input" name="cash4" />
          <label class="form-check-label">Títulos</label>
        </div>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="RelationshipTimeWithTheInstitution2"
          />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Persona Políticamente Expuesta
      </legend>

      <p>
        El cliente debe indicar expresamente si es Persona Políticamente
        Expuesta (PEP). PEP, es una persona que desempeña o ha desempeñado
        funciones públicas prominentes dentro o fuera del país, tales como jefes
        de Estado o de Gobierno, políticos de alto nivel, funcionarios
        gubernamentales, judiciales u oficiales militares de alto nivel,
        ejecutivos de alto nivel de corporaciones que pertenecen al Estado y
        funcionarios importantes de partidos políticos. (Con base en la
        definición establecida en el Artículo 4 Ley 23/2015)
      </p>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label"
            >¿Es Ud. Una Persona Políticamente Expuesta (PEP)?</label
          >
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="PoliticallyExposedCheckYes"
            />
            <label class="form-check-label">Sí</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="PoliticallyExposedCheckNo"
            />
            <label class="form-check-label">No</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label"
            >¿Es Ud. Familiar Cercano (cónyuge o 1er grado consanguinidad) de
            PEP?</label
          >
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="CloseRelativeCheckYes"
            />
            <label class="form-check-label">Sí</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="CloseRelativeCheckNo"
            />
            <label class="form-check-label">No</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label"
            >¿Declara que en los últimos 5 años (según la definición) se
            considera como PEP?</label
          >
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="ConsideredPEPCheckYes"
            />
            <label class="form-check-label">Sí</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="ConsideredPEPCheckNo"
            />
            <label class="form-check-label">No</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Comunicación Seleccionar uno o varios campos
      </legend>

      <div class="mb-3">
        <label class="form-label"
          >Personas autorizadas para instruir órdenes</label
        >
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Titular" />
          <label class="form-check-label">Titular</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="co-title" />
          <label class="form-check-label">Cotitular</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Signatory" />
          <label class="form-check-label">Firmante (s)</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Attorney" />
          <label class="form-check-label">Apoderado</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="RecipientShareholder"
          />
          <label class="form-check-label">Beneficiario Accionista</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Las órdenes podrán ser colocadas por</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Mail" />
          <label class="form-check-label">Correo</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="DocumentsWritings"
          />
          <label class="form-check-label">Documentos Escritos</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="ViaTelephone" />
          <label class="form-check-label">Vía Telefónica</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="TextPlatforms"
          />
          <label class="form-check-label">Plataformas de Texto</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="DirectlyByTheClientInTheSystem"
          />
          <label class="form-check-label"
            >Directamente por el Cliente en el Sistema</label
          >
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="AppPrevious" />
          <label class="form-check-label">Todas las Anteriores</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label"
          >Confirmar las instrucciones emitidas (compra y venta de títulos y
          valores)</label
        >
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="SendYes" />
          <label class="form-check-label">Si</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="SendNo" />
          <label class="form-check-label">No</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">De ser afirmativa completar:</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Mail2" />
          <label class="form-check-label">Correo</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="DocumentsWritings2"
          />
          <label class="form-check-label">Documentos Escritos</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="ViaTelephone2"
          />
          <label class="form-check-label">Vía Telefónica</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="TextPlatforms2"
          />
          <label class="form-check-label">Plataformas de Texto</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label"
          >Es voluntad del cliente que los Estados de Cuenta de su cuenta de
          inversión reposen en las oficinas de Firmus Financial Inc. a su
          disposicion y solicitud</label
        >
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="AccountStatementYes"
          />
          <label class="form-check-label">Si</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="AccountStatementNo"
          />
          <label class="form-check-label">No</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label"
          >Si su respuesta es No indique como desea recibir los Estados de
          Cuenta:</label
        >
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="Correcto" />
          <label class="form-check-label">Correcto</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="ApartadoPostal"
          />
          <label class="form-check-label">Apartado Postal</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Desea recibirlos con periodicidad</label>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="MonthlyRecieve"
          />
          <label class="form-check-label">Mensual</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="QuarterlyRecieve"
          />
          <label class="form-check-label">Trimestral</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="SemiannualRecieve"
          />
          <label class="form-check-label">Semestral</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="YearlyRecieve"
          />
          <label class="form-check-label">Anual</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label"
          >Firmus Financial Inc. tomará como correo autorizado el declarado en
          Datos Generales, de ser diferente suministrar el mismo:</label
        >
        <input type="text" class="form-control" name="otherEmailDecleration" />
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Declaración
      </legend>

      <div class="mb-3">
        <p>
          Confirmo (Confirmamos) que he (hemos) comprendido los términos del
          acuerdo de cuenta de inversión, incluyendo los modos de comunicación,
          acceso en línea, notificaciones y demás términos. Actuando en mi
          propio nombre y de manera voluntaria, declaro (declaramos) que hemos
          comprendido a cabalidad la información que se ha solicitado y
          respondiendo los campos de forma veraz y correcta en todo su alcance
          de forma plena e irrevocable; autorizando a Firmus Financial Inc. para
          la verificación de los datos suministrados en esta plantilla,
          advirtiendo de forma inmediata cualquier suceso que implique
          modificación de la información aquí declarada, de las circunstancias:
          Económicas, financieras y/o personales, del titular de la cuenta,
          firmantes autorizados, propietario efectivo o beneficiarios finales.
          Confirmo (Confirmamos) estar anuente que las condiciones generales
          entregadas forman parte de la relación contractual presente.
        </p>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Firma (s) Cliente (s)
      </legend>

      <!-- First Set of Fields and Signature -->
      <div class="row mb-3">
        <div class="col-md-2">
          <label>Tipo de Firma:</label>
        </div>
        <div class="col-md-1">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="SignitureTypeJoint"
            />
            <label class="form-check-label">Conjunta</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="SignitureTypeIndistinct"
            />
            <label class="form-check-label">Indistinta</label>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md">
          <label>FNombre completo (en imprenta):</label>
          <input type="text" class="form-control" name="FullNameInPrint1" />
        </div>
        <div class="col-md">
          <label>FNombre completo (en imprenta):</label>
          <input type="text" class="form-control" name="FullNameInPrint2" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md">
          <label>No. de Documento (ID):</label>
          <input type="text" class="form-control" name="DomumentID1" />
        </div>
        <div class="col-md">
          <label>No. de Documento (ID):</label>
          <input type="text" class="form-control" name="DomumentID2" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md">
          <label>Date:</label>
          <input type="date" class="form-control" name="DateOfSign1" />
        </div>
        <div class="col-md">
          <label>Date:</label>
          <input type="date" class="form-control" name="DateOfSign2" />
        </div>
      </div>

      <!-- <div class="row mb-3">
        <div class="col-md">
          <canvas height="50" width="50" class="border"></canvas>
          <label>Firma</label>
        </div>
        <div class="col-md">
          <canvas height="50" width="50" class="border"></canvas>
          <label>Firma</label>
        </div>
      </div> -->
    </fieldset>

    <fieldset>
      <legend class="h5 mb-3 bg-primary-subtle text-center p-2">
        Firma (s) Personal de la Casa de Valores
      </legend>

      <div class="row mb-3">
        <div class="col-md">
          <label>Nombre del Corredor:</label>
          <input type="text" class="form-control" name="RunnerName1" />
        </div>
        <div class="col-md">
          <label>Nombre del Oficial de Cumplimiento:</label>
          <input type="text" class="form-control" name="RunnerName2" />
        </div>
        <div class="col-md">
          <label>Nombre del Ejecutivo Principal:</label>
          <input type="text" class="form-control" name="RunnerName3" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-mb">
          <label>Fecha</label>
          <input type="date" class="form-control" name="DateRunner" />
        </div>
        <div class="col-mb">
          <label>Fecha</label>
          <input type="date" class="form-control" name="DateRunner" />
        </div>
        <div class="col-mb">
          <label>Fecha</label>
          <input type="date" class="form-control" name="DateRunner" />
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-md">
          <canvas height="50" width="50" class="border"></canvas>
        </div>
  
        <div class="col-md">
          <canvas height="50" width="50" class="border"></canvas>
        </div>
  
        <div class="col-md">
          <canvas height="50" width="50" class="border"></canvas>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <label>Firma del Corredor de Valores</label>
        </div>
  
        <div class="col-md">
          <label>Firma del Oficial de Cumplimiento</label>
        </div>
  
        <div class="col-md">
          <label>Firma del Ejecutivo Principal</label>
        </div>
      </div> -->

    </fieldset>

    <fieldset>
      <hr>
      <div>
        <button type="submit" class="btn-lg btn btn-primary">Submit</button>
      </div>

    </fieldset>
  </form>
</div>
