<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./components/head') %>
    <title>Admin panel</title>
</head>
<body>
    <h1>Admin panel</h1>
    <div class="container">
      <%- include('./components/crudCard') %>
    </div>
</body>
</html>