<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./components/head') %>

    <title>pdf uploader</title>
  </head>
  <body>
    <h1>Index page</h1>
    <a href="/admin">admin</a>
    <!-- TODO logo -->

    <%- include("./components/form") %>

  </body>
</html>
