<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./components/head') %>

    <title>leao</title>
  </head>
  <body>
    <h1>LEAO page</h1>
    <a href="/admin">admin</a>
    <!-- TODO logo -->

    <%- include("./forms/leaof") %>

  </body>
</html>
