<form action="" method="post">
    <fieldset>
        <legend>Apertura de Cuenta Persona Natural - Datos Generales</legend>

        <p>Datos Generales Completar todos los campos de este formulario, de no aplicar colocar N/A</p>

        <label for="tipoCuentaNoDiscrecional">Tipo de Cuenta o Contrato: No Discrecional</label>
        <input type="checkbox" id="tipoCuentaNoDiscrecional" name="tipoCuenta" value="No Discrecional">

        <label for="tipoCuentaDiscrecional">Tipo de Cuenta o Contrato: Discrecional</label>
        <input type="checkbox" id="tipoCuentaDiscrecional" name="tipoCuenta" value="Discrecional">

        <label for="expliqueParteRelacionada">Explique por qué se considera parte relacionada: </label>
        <textarea id="expliqueParteRelacionada" name="expliqueParteRelacionada"></textarea>

        <label for="parteRelacionadaSi">Parte Relacionada: Si</label>
        <input type="checkbox" id="parteRelacionadaSi" name="parteRelacionada" value="Si">

        <label for="parteRelacionadaNo">Parte Relacionada: No</label>
        <input type="checkbox" id="parteRelacionadaNo" name="parteRelacionada" value="No">

        <label for="nombre">Nombre(s): </label>
        <input type="text" id="nombre" name="nombre">

        <label for="apellido">Apellido(s): </label>
        <input type="text" id="apellido" name="apellido">

        <label for="nacionalidad">Nacionalidad: </label>
        <input type="text" id="nacionalidad" name="nacionalidad">

        <label for="estadoCivil">Estado Civil: </label>
        <input type="text" id="estadoCivil" name="estadoCivil">

        <label for="tipoDocumentoID">Tipo de Documento (ID): </label>
        <input type="text" id="tipoDocumentoID" name="tipoDocumentoID">

        <label for="numeroDocumentoID">No. de Documento (ID): </label>
        <input type="text" id="numeroDocumentoID" name="numeroDocumentoID">

        <label for="fechaVencimientoID">Fecha de Vencimiento (ID): </label>
        <input type="text" id="fechaVencimientoID" name="fechaVencimientoID">

        <label for="fechaNacimiento">Fecha de Nacimiento: </label>
        <input type="text" id="fechaNacimiento" name="fechaNacimiento">

        <label for="lugarNacimiento">Lugar de Nacimiento: </label>
        <input type="text" id="lugarNacimiento" name="lugarNacimiento">

        <label for="correoElectronico">Correo Electrónico: </label>
        <input type="text" id="correoElectronico" name="correoElectronico">

        <label for="profesionOficio">Profesión u Oficio: </label>
        <input type="text" id="profesionOficio" name="profesionOficio">

        <label for="ocupacionActual">Ocupación Actual: </label>
        <input type="text" id="ocupacionActual" name="ocupacionActual">

        <label for="domicilioPersonal">Domicilio Personal: </label>
        <input type="text" id="domicilioPersonal" name="domicilioPersonal">

        <label for="numeroDomicilioCasa">Nº de Domicilio / Casa: </label>
        <input type="text" id="numeroDomicilioCasa" name="numeroDomicilioCasa">

        <label for="direccionPostalPersonal">Dirección Postal: </label>
        <input type="text" id="direccionPostalPersonal" name="direccionPostalPersonal">

        <label for="faxPersonal">Fax: </label>
        <input type="text" id="faxPersonal" name="faxPersonal">

        <label for="domicilioLaboral">Domicilio Laboral: </label>
        <input type="text" id="domicilioLaboral" name="domicilioLaboral">

        <label for="numeroOficina">Nº de Oficina: </label>
        <input type="text" id="numeroOficina" name="numeroOficina">

        <label for="direccionPostalLaboral">Dirección Postal: </label>
        <input type="text" id="direccionPostalLaboral" name="direccionPostalLaboral">

        <label for="faxLaboral">Fax: </label>
        <input type="text" id="faxLaboral" name="faxLaboral">

        <label for="empleadoSalario">Empleado con Salario: </label>
        <input type="checkbox" id="empleadoSalarioFijo" name="empleadoSalario" value="Fijo">
        <label for="empleadoSalarioFijo">Fijo</label>

        <input type="checkbox" id="empleadoSalarioVariable" name="empleadoSalario" value="Variable">
        <label for="empleadoSalarioVariable">Variable</label>

        <input type="checkbox" id="empleadoIndependiente" name="empleadoSalario" value="Independiente">
        <label for="empleadoIndependiente">Independiente</label>

        <input type="checkbox" id="empleadoJubilado" name="empleadoSalario" value="Jubilado">
        <label for="empleadoJubilado">Jubilado</label>

        <input type="checkbox" id="empleadoPensionado" name="empleadoSalario" value="Pensionado">
        <label for="empleadoPensionado">Pensionado</label>

        <input type="checkbox" id="empleadoOtro" name="empleadoSalario" value="Otro">
        <label for="empleadoOtro">Otro</label>

        <label for="origenFondos">Origen de Fondos</label>
        <textarea id="origenFondos" name="origenFondos"></textarea>

        <!-- Add more fields based on the CSV data -->

    </fieldset>
</form>